html {
    position: relative;
    min-height: 100%;;
  }

  body {
    background-color: rgb(183, 176, 230);
    margin-bottom: 600px;
  
  }

.container {
  width: auto;
  max-width: 1000px;
  padding: 100px;
  border: purple 50px;
  text-align: center;
}


#story{
  background-color: rgb(218, 214, 246);
  border: 5px solid purple;
  padding: 20px;
  margin: 20px;
  text-align: center;
}